<div id="main-wrapper">
  <div class="content-wrapper">
    <div class="articles-container">
      <div class="articles-wrapper">
        <% @posts.each do |post| %>
          <%= link_to post do %>
            <h1><%= post.title %></h1>
            <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to posts_path do %>
      <div class="post-more-container">
        <h1>More posts?</h1>
      </div>
    <% end %>
    <div class="projects-container">
      <div class="title-container">
        <h1>My recent projects</h1>
      </div>
      <div class="projects-wrapper">
        <% @projects.each do |project| %>
          <%= link_to project do %>
            <h1><%= project.title %></h1>
            <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to projects_path do %>
      <div class="project-more-container">
        <h1>More projects?</h1>
      </div>
    <% end %>
    <%= link_to new_contact_path do %>
      <div class="contact-container">
        <h1>Contact Me</h1>
      </div>
    <% end %>
  </div>
</div>
