<div id="project-container">
  <div class="project-wrapper">
    <div class="project-title-container">
      <div class="project-title">
        <p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
        <%= @project.title %><br>
      </div>
      <div class="edit">
        <%= link_to "Edit", edit_project_path(@project) %>
      </div>
      <div class="delete">
        <%= link_to "Delete ", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete this project?" } %>
      </div>
    </div>
    <br>
    <br>


    <div class="project-content">
      <%= markdown @project.description %>
    </div>
    <div class="project-link">
      <a href="<%= @project.link %>" class="project-button" target="_blank" >Visit <%= @project.title %></a>
    </div>
  </div>
</div>
