<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>

    <div class="label">
      <%= f.label :title %><br>
    </div>
    <%= f.text_field :title, placeholder: "Your post's title!" %>

    <br>
    <br>
    <div class="label">
      <%= f.label :content, "Write your article here" %><br>
    </div>
    <%= f.text_area :content, placeholder: "Your post's main content!" %>

    <br>
    <br>
    
    <div class="new">
      <%= f.submit %>
    </div>

<% end %>
