<!DOCTYPE html>
<html>
<head>
  <title>Ollie Dev &amp; Design</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css' rel='stylesheet'  type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="blog-main-header" class="clearfix">
    <%= link_to root_path do %>
      <div class="logo">
        <div class="logo-name">Ollie Dev <span>&amp;</span> Design</div>
      </div>
    <% end %>
    <nav>
      <i class="fa fa-bars" aria-hidden="true"></i>

    </nav>
    <div class="slide-over-navigation-wrapper">
      <div class="slide-over-navigation-background">
      </div>
      <nav class="slide-over-navigation">
        <div class="nav-heading-wrapper">
          <h1 class="nav-heading">Menu</h1>
          <span class="nav-close-button"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="nav-button-wrapper">
          <a href="#">Contact</a>
          <%= link_to "Projects", projects_path %>
          <%= link_to "Articles", posts_path %>
        </div>
      </nav>
    </div>
  </header>

  <%= yield %>

  <footer id="blog-main-footer">
    <div class="footer-container clearfix">
      <div class="copyright">Copyright &copy; 2016 Ollie Dev &amp; Design</div>
    </div>
  </footer>

</body>
</html>
